<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth.dao.SysAppauthMapper">
    <resultMap id="BaseResultMap" type="com.oauth.entity.SysAppauth">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="addTime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="deleteStatus" jdbcType="BIT" property="deletestatus"/>
        <result column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="client_secret" jdbcType="VARCHAR" property="clientSecret"/>
        <result column="scope" jdbcType="VARCHAR" property="scope"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="sndChnlNo" jdbcType="VARCHAR" property="sndchnlno"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, addTime, deleteStatus, client_id, client_secret, scope, version, sndChnlNo
    </sql>

    <select id="findSysAppauthByclientId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_appauth
        where client_id = #{clientId,jdbcType=VARCHAR}
        and deleteStatus != 0
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_appauth
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="FindByClientIdAndClientSecret" parameterType="com.oauth.entity.SysAppauth" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_appauth
        where client_id = #{clientId,jdbcType=VARCHAR}
        and client_secret = #{clientSecret,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_appauth
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.oauth.entity.SysAppauth">
        insert into sys_appauth (id, addTime, deleteStatus,
        client_id, client_secret, scope,
        version, sndChnlNo)
        values (#{id,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT},
        #{clientId,jdbcType=VARCHAR}, #{clientSecret,jdbcType=VARCHAR}, #{scope,jdbcType=VARCHAR},
        #{version,jdbcType=VARCHAR}, #{sndchnlno,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.oauth.entity.SysAppauth">
        insert into sys_appauth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="addtime != null">
                addTime,
            </if>
            <if test="deletestatus != null">
                deleteStatus,
            </if>
            <if test="clientId != null">
                client_id,
            </if>
            <if test="clientSecret != null">
                client_secret,
            </if>
            <if test="scope != null">
                scope,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="sndchnlno != null">
                sndChnlNo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="addtime != null">
                #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deletestatus != null">
                #{deletestatus,jdbcType=BIT},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientSecret != null">
                #{clientSecret,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                #{scope,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="sndchnlno != null">
                #{sndchnlno,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.oauth.entity.SysAppauth">
        update sys_appauth
        <set>
            <if test="addtime != null">
                addTime = #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="deletestatus != null">
                deleteStatus = #{deletestatus,jdbcType=BIT},
            </if>
            <if test="clientId != null">
                client_id = #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientSecret != null">
                client_secret = #{clientSecret,jdbcType=VARCHAR},
            </if>
            <if test="scope != null">
                scope = #{scope,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="sndchnlno != null">
                sndChnlNo = #{sndchnlno,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.oauth.entity.SysAppauth">
        update sys_appauth
        set addTime = #{addtime,jdbcType=TIMESTAMP},
        deleteStatus = #{deletestatus,jdbcType=BIT},
        client_id = #{clientId,jdbcType=VARCHAR},
        client_secret = #{clientSecret,jdbcType=VARCHAR},
        scope = #{scope,jdbcType=VARCHAR},
        version = #{version,jdbcType=VARCHAR},
        sndChnlNo = #{sndchnlno,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>