<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oauth.dao.SysLoginLogMapper">
    <resultMap id="BaseResultMap" type="com.oauth.entity.SysLoginLog">
        <id column="log_id" jdbcType="VARCHAR" property="logId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="sndChnlNo" jdbcType="VARCHAR" property="sndchnlno"/>
        <result column="ip_address" jdbcType="VARCHAR" property="ipAddress"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="logout_time" jdbcType="TIMESTAMP" property="logoutTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        log_id, user_id, userName, device_id, sndChnlNo, ip_address, login_time, logout_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_login_log
        where log_id = #{logId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from sys_login_log
        where log_id = #{logId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.oauth.entity.SysLoginLog">
        insert into sys_login_log (log_id, user_id, userName,
        device_id, sndChnlNo, ip_address,
        login_time, logout_time)
        values (#{logId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
        #{deviceId,jdbcType=VARCHAR}, #{sndchnlno,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR},
        #{loginTime,jdbcType=TIMESTAMP}, #{logoutTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.oauth.entity.SysLoginLog">
        insert into sys_login_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                log_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                userName,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="sndchnlno != null">
                sndChnlNo,
            </if>
            <if test="ipAddress != null">
                ip_address,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="logoutTime != null">
                logout_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">
                #{logId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="sndchnlno != null">
                #{sndchnlno,jdbcType=VARCHAR},
            </if>
            <if test="ipAddress != null">
                #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logoutTime != null">
                #{logoutTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.oauth.entity.SysLoginLog">
        update sys_login_log
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                userName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="sndchnlno != null">
                sndChnlNo = #{sndchnlno,jdbcType=VARCHAR},
            </if>
            <if test="ipAddress != null">
                ip_address = #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="logoutTime != null">
                logout_time = #{logoutTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where log_id = #{logId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.oauth.entity.SysLoginLog">
        update sys_login_log
        set user_id = #{userId,jdbcType=VARCHAR},
        userName = #{username,jdbcType=VARCHAR},
        device_id = #{deviceId,jdbcType=VARCHAR},
        sndChnlNo = #{sndchnlno,jdbcType=VARCHAR},
        ip_address = #{ipAddress,jdbcType=VARCHAR},
        login_time = #{loginTime,jdbcType=TIMESTAMP},
        logout_time = #{logoutTime,jdbcType=TIMESTAMP}
        where log_id = #{logId,jdbcType=VARCHAR}
    </update>
</mapper>